/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*Escribe aqui tu codigo */
.header{
	width: 100%;
	background-color: #36355E;
	padding: 1% 2% 1% 2%;
	border: 1px solid black;
	position: fixed;
	z-index: 1030;
}
.sidebar-toggle-box{
	display: inline;
	color: white;
	font-size: 20px;
}
.sidebar-toggle{
	z-index: 10;
}
header b{
	font-size: 20px;
	margin-bottom: 2%;
}
.header a{
	text-decoration: none;
	color: white;
}
.header a:hover{
	text-decoration: none;
}
.header li{
	display: inline-block;
}
.header li a{
	background-color: #B5309B;
	border-radius: 10%;
	color: white;
}
.header li a:hover{
	background-color: #871F72;
	font-weight: bold;
}
#sidebar{
	position: fixed;
	top: 70px;
	left: 0%;
	z-index: 20;
	background-color:  #36355E;
	padding: 4% 1% 100% 0%;
	color: white;
	border: 1px solid black;
}
#sidebar li{
	margin-bottom: 25px;
	list-style: none;
}
#sidebar h5{
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 20px;
}
#sidebar a{
	color: white;
	padding: 4% 15% 4% 4%;
	text-decoration: none;
}
#sidebar a:hover{
	background-color: #B5309B;
	font-weight: bold;
	text-decoration: none;
}
#main-content{
	padding: 10% 1% 0% 17%;
	background-color: #DADADA;
}
.box0 span{
	color: #7E7E7E;
	font-size: 50px;
}
.box0{
	text-align: center;
	padding: 2% 1% 2% 1%;
	border-bottom: 1px solid black;
	margin-right: 1%;
}
.box0:hover{
	background-color: white;
}
.box0 p{
	display: none;
	font-size: 10px;
	color: red;
	padding: 0%;
}
.box0:hover >p{
	display: block;
}
.ds{
	background-color: white;
}
.ds p{
	font-size: 10px;
}
.ds h3{
	padding: 5%;
	background-color: #B5309B;
	color: white;
	text-align: center;
	font-size: 17px;
}
.ds span{
	border-radius: 50%;
	background-color: #64ABCD;
	margin-right: 5px;
}
.ds span i{
	color: white;
	font-size: 15px;
}
.desc{
	display: inline-block;
}